ul{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	border: 1px solid #CCC;
	width: 20em;
}
/*estilo para la lista*/
a{
	font-family: 'Indie Flower', cursive; 
	font-size: 3em;
	text-decoration: none;
	display: block;
	padding: 6px;
	border: 1px solid #CCC;
	background-color: lightgray;
	color:#000; 
}
a:hover{
	color:White;
	background-color:gray;
	border-left-width:8px;
	border-color:white;
}
